<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Portafolio</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">INICIO</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">SOBRE</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">MIS HABILIDADES</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Vista previa -->
      <section class="main__home home" id="home">
        <h1 class="home__title">ÁLVARO GÓMEZ</h1>
        <p class="home__subtitle">DESARROLLO-WEB, PROGRAMADOR-PYTHON</p>
      </section>
      <!-- Acerca de mí -->
      <section class="main__about about" id="about">
        <h2 class="about__title">SOBRE MI</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            Soy una persona paciente, con habilidad para colaborar en equipo y resolver conflictos, lo que me convierte en un buen elemento en entornos colaborativos, especialmente en programación y desarrollo de proyectos.
            <br><br>
            Habilidades técnicas<br>
            Tengo una buena base en programación y desarrollo web:<br><br>
            Python: Manejo de condicionales, bucles, variables y funciones.<br>
            Pygame Zero: Creación de juegos básicos.<br>
            Desarrollo web: Conocimientos en HTML, CSS, Flask y Jinja.<br>
            Bots de Discord: Desarrollo y uso de herramientas de Discord Developer.<br>
            Bases de datos: Gestión básica de datos.<br><br>
            Fortalezas<br>
            Soy analítico, tomo decisiones informadas y tengo una gran disposición para aprender y mejorar, reconociendo mis errores para crecer como programador.<br><br>
            Aplicación de mis conocimientos<br>
            Puedo implementar mis habilidades en:<br>
            Desarrollo de aplicaciones web con Flask.<br>
            Creación de juegos con Pygame Zero.<br>
            Desarrollo de bots de Discord para automatizar tareas.<br>
            Sistemas analíticos en Python para generar reportes y analizar datos.<br><br>
            
            
          </p>
          <img
            class="info-block__img"
            src="../static/img/profile.png"
            alt="me"
            width="250"
            height="250"
          />
        </div>
      </section>
      <!-- Sección de competencias -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">MY SKILLS</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/python.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <a class="skill__button" href="https://hub.kodland.org/en/project/232493?stopDirectLinkBehavior=true">PROJECT</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/discord.png"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <a class="skill__button" href="https://hub.kodland.org/en/project/232493?stopDirectLinkBehavior=true">PROJECT</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/html.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <a class="skill__button" href="https://hub.kodland.org/en/project/232493?stopDirectLinkBehavior=true">PROJECT</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/db.webp"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <a class="skill__button" href="https://github.com/Erizobonito/Python_pro/blob/main/M2L1/bot_memes.py">PROJECT</a>
            </li>
          </ul>
        </form>
        {% if button_python%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/python-project.png" alt="project" width="500">
              <a class="skill__button" href="https://hub.kodland.org/en/project/232493?stopDirectLinkBehavior=true">PROJECT</a>
          </div>
        {% endif %}
      </section>
      <!-- Formulario de contacto -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">FEEDBACK</h2>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Comment"></textarea>
          </label>
          <button class="form__button" type="submit">SEND</button>
        </form>
      </section>
    </main>
    <!-- Pie de página con enlaces a redes sociales -->
    <footer>

    </footer>
  </body>
</html>
